* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none; }

/* nesting */
header {
  background-color: #fdebde;
  font-weight: bold;
  text-align: center; }
  header .imagenMenu {
    widht: 4vh;
    height: 8vh; }
  header .colorTexto {
    color: #88ada4;
    text-align: center; }
  header nav ul li a {
    font-size: 1rem;
    position: relative;
    overflow: hidden; }

main .mainIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "menuTextoInterno menuTextoInterno menuTextoInterno" "menuBoton menuBoton menuBoton";
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-image: url(../multimedia/fondo.jpg);
  widht: 100vh;
  height: 80w; }
  main .mainIndex .menuTextoInterno {
    grid-area: menuTextoInterno;
    text-align: center; }
  main .mainIndex .menuBoton {
    grid-area: menuBoton;
    text-align: center; }

main .menuTextoInterno {
  color: rgba(0, 0, 0, 0.77); }

main .menuBoton {
  background-color: #88ada4;
  color: beige;
  font-size: 1.2rem;
  border-radius: 1.5rem; }

main div a {
  color: beige; }

footer {
  background-color: #88ada4;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem; }
  footer .misDatos {
    padding: 1.5rem; }
  footer div h4 {
    color: crimson;
    font-size: 1.3rem; }
  footer div ul li a {
    color: crimson; }
