@import "utilities/list";
@import "utilities/mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

/* nesting */

/* menu principal */
header {
    background-color: nth($list: $colores, $n:1);
    font-weight: bold;
    .imagenMenu {
        @include medidas(4vh, 8vh)
    }
    .colorTexto {
        color: nth($list: $colores, $n:2);
        text-decoration: none;
    }
    nav ul li a {
        font-size: 1rem;
        position: relative;
        overflow: hidden;
        text-decoration: none;
    }
}

/* main Index */
main {
    .mainIndex {
        text-decoration: none;
        background-image: url(../multimedia/fondo.jpg);
        width: 100vh;
        height: 80vw;
    }
    .menuTextoInterno {
        color: nth($list: $colores, $n:4);
        grid-area: menuTextoInterno;
    }
    .menuBoton {
        background-color: nth($list: $colores, $n:2);
        color: nth($list: $colores, $n:3);
        font-size: 1.2rem;
        border-radius: 1.5rem;
        grid-area: menuBoton;
        text-decoration: none;
    }
    div a {
        color: nth($list: $colores, $n:3);
        text-decoration: none;
    }
}

/* footer */
footer {
    background-color: nth($list: $colores, $n:2);
    @include flex-footer;
    .misDatos {
        padding: 1.5rem;
    }
    div h4 {
        color: nth($list: $colores, $n:5);
        font-size: 1.3rem;
    }
    div ul li a {
        color: nth($list: $colores, $n:5);
    }
}








