@media only screen and (min-width:601px) and (max-width:1000px) {
    .imagenMenu {
        width: 100%;
    }
    .mainIndex {
        filter: brightness(80%);
    }
    .menuTextoInterno {
        color: crimson;
    }
    main div a {
        color: rgba(0, 0, 0, 0.77);
    }
}

@media screen and (max-width:600px) {    
    .mainIndex {
        filter: brightness(80%);
    }
    .mainIndex div a {
        color:beige;
    } 
    .imagenMenu {
        width: 30vw;
    }
    .menuTextoInterno {
        text-align: center;
        margin-top: 1rem;
        color: crimson;
    }
    .menuBoton {
        margin-bottom: 2rem;
    }
    .video {
        width: 100vw;
        height: 40vh;
    }
    .imagenRecibida img {    
        width: 40vw;
        height: 55vh;
    }
    .imagenBelen img {
        width: 40vw;
        height: 25vh;
    }
    .formContacto img {
    display: none;
    }
    .textos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "lorem1 boton"
                            "lorem2 boton"
                            "lorem3 boton";
        justify-content: space-around;
    }
    .lorem1 {
        grid-area: lorem1;
    }
    .lorem2 {
        grid-area: lorem2;
    }
    .lorem3 {
        grid-area: lorem3;
    }
    .boton {
        grid-area: boton;
    }
    .cards {
        display: grid;
        grid-template-columns: 4rem;
        grid-template-rows: 35rem;
        grid-template-areas: "card1 card1 card1" 
                            "card2 card2 card2"
                            "card3 card3 card3";
    }
    div .card1 {
        grid-area: card1;
    }
    div .card2 {
        grid-area: card2;
    }
    div .card3 {
        grid-area: card3;
    }
}


