@mixin medidas($widht, $height) {
    width: $widht;
    height: $height;
}

@mixin gridMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "menuTextoInterno menuTextoInterno menuTextoInterno"
                        "menuBoton menuBoton menuBoton";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

@mixin flex {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

@mixin gridQuien {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr;
    grid-template-areas: "imagenBelen imagenRecibida"
                        "lorem lorem"
                        "video video";
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

@mixin gridTextoMenu {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "principal principal ."
                        ". secundario terciario";
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 0.2rem;
}

@mixin mediaquerie1 {
    @media only screen and (min-width:601px) and (max-width:1000px) {
        .imagenMenu {
            width: 100%;
        }
        .mainIndex {
            filter: brightness(80%);
        }
        .menuTextoInterno {
            color: crimson;
        }
        main div a {
            color: rgba(0, 0, 0, 0.77);
        }
    }
}

@mixin mediaquerie2 {
    @media screen and (max-width:600px) {    
    .mainIndex {
        filter: brightness(80%);
    }
    main div a {
        color: rgba(0, 0, 0, 0.77);
    } 
    .imagenMenu {
        width: 100%;
    
    .menuTextoInterno {
        text-align: center;
        margin-top: 1rem;
        color: crimson;
    }
    .menuBoton {
        margin-bottom: 2rem;
    }
    .video {
        width: 100vw;
        height: 40vh;
    }
    .imagenRecibida img {    
        width: 33vw;
        height: 25vh;
    }
    .imagenBelen img {
        width: 40vw;
        height: 25vh;
    }
    .formContacto img {
    display: none;
    }
    .textos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "lorem1 boton"
                            "lorem2 boton"
                            "lorem3 boton";
        justify-content: space-around;
    }
    .lorem1 {
        grid-area: lorem1;
    }
    .lorem2 {
        grid-area: lorem2;
    }
    .lorem3 {
        grid-area: lorem3;
    }
    .boton {
        grid-area: boton;
    }
    .cards {
        display: grid;
        grid-template-columns: 1rem;
        grid-template-rows: 18rem;
        grid-template-areas: "card1 card1 card1" 
                            "card2 card2 card2"
                            "card3 card3 card3";
    }
    div .card1 {
        grid-area: card1;
    }
    div .card2 {
        grid-area: card2;
    }
    div .card3 {
        grid-area: card3;
    }
}}
    
}
