@mixin medidas($widht, $height) {
    widht: $widht;
    height: $height;
}

@mixin gridMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "menuTextoInterno menuTextoInterno menuTextoInterno"
                        "menuBoton menuBoton menuBoton";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

@mixin flex-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}