@mixin medidas($widht, $height) {
    width: $widht;
    height: $height;
}

@mixin gridMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "menuTextoInterno menuTextoInterno menuTextoInterno"
                        "menuBoton menuBoton menuBoton";
    justify-content: center;
    align-items: center;
    justify-items: center;
}

@mixin flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

@mixin gridQuien {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr;
    grid-template-areas: "imagenBelen imagenRecibida"
                        "lorem lorem"
                        "video video";
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

@mixin gridTextoMenu {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "principal principal ."
                        ". secundario terciario";
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 0.2rem;
}

@mixin servicioIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "s1 p"
                        "s2 p"
                        "s3 p";
    padding: 0.2rem;
}
